.decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor__item-1:before {
  content: "";
  position: absolute;
  width: 48%;
  height: 177px;
  top: -42px;
  left: 52%;
  background: url(../img/trapezoid.svg) no-repeat;
  z-index: 0;
}

.decor__item-1:after {
  content: "очень хороший слоган";
  position: absolute;
  width: 100px;
  height: 10px;
  top: 41%;
  left: -30px;
  .philosopher-italic;
  font-size: 9px;
  transform: rotate(270deg);
  opacity: 0.5;
  z-index: 100;
}

.decor__item-2:before {
  content: "";
  position: absolute;
  width: 22.8px;
  height: 23.21px;
  bottom: 56%;
  right: 9%;
  background: url(../img/triangle.svg) no-repeat;
  z-index: 100;
}

.decor__item-2:after {
  content: "";
  position: absolute;
  width: 38px;
  height: 75px;
  top: 22%;
  right: 20.5%;
  background: url(../img/E.svg) no-repeat;
  z-index: 100;
}

.decor__item-3:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 75px;
  top: 36%;
  right: 40%;
  background: url(../img/G.svg) no-repeat;
  z-index: 10;
}

.decor__item-3:after {
  content: "";
  position: absolute;
  width: 46px;
  height: 75px;
  top: 38.5%;
  right: 64.5%;
  background: url(../img/A.svg) no-repeat;
  z-index: 100;
}

.decor__item-4:before {
  content: "";
  position: absolute;
  width: 22.8px;
  height: 24.5px;
  bottom: 29px;
  left: 14%;
  background: url(../img/triangle-transparent.svg) no-repeat;
  z-index: 100;
}

.decor__item-4:after {
  content: "";
  position: absolute;
  width: 109.3px;
  height: 54.65px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../img/coronal.svg) no-repeat;
  z-index: 100;
}

.decor__item-5:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-left: 52px solid transparent;
  border-top: 52px solid transparent;
  border-right: 52px solid @base-color;
  border-bottom: 52px solid @base-color;
  z-index: 100;
}

.decor__item-5:after {
  content: "13";
  position: absolute;
  width: 24px;
  height: 27px;
  bottom: 16px;
  right: 18px;
  .geometria-heavy-italic;
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 100;
}

@media (min-width: @desktop-width) {
  .decor__item-1:before {
    width: 282px;
    height: 177px;
    top: 318px;
    left: 20.5%;
    transform: rotate(270deg);
    z-index: 30;
  }

  .decor__item-1:after {
    top: 478px;
    left: 273px;
  }

  .decor__item-2:before {
    top: 735px;
    right: 15%;
  }

  .decor__item-2:after {
    width: 51px;
    height: 101px;
    top: 117px;
    right: 16.3%;
    background-size: cover;
    z-index: 10;
  }

  .decor__item-3:before {
    width: 62px;
    height: 101px;
    top: 195px;
    right: 21.8%;
    background-size: cover;
    z-index: 30;
  }

  .decor__item-3:after {
    width: 61px;
    height: 101px;
    top: 35px;
    right: 27.7%;
    background-size: cover;
  }

  .decor__item-4:before {
    top: 753px;
    left: 67%;
  }

  .decor__item-4:after {
    width: 160px;
    height: 112.1px;
    top: 594px;
    bottom: auto;
    background-size: cover;
  }

  .decor__item-5:before {
    width: 138px;
    height: 383px;
    top: 255px;
    bottom: auto;
    right: 278px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background: @base-color;
  }

  .decor__item-5:after {
    width: 49px;
    height: 57px;
    top: 568px;
    bottom: auto;
    right: 24%;
    font-size: 45px;
    letter-spacing: 4px;
  }

  .decor__item-6:before {
    content: "тестовое задание";
    position: absolute;
    width: 115px;
    height: 15px;
    top: 385px;
    left: -2.3%;
    .geometria-light-italic;
    font-size: 12px;
    transform: rotate(270deg);
    opacity: 0.4;
    z-index: 100;
  }

  .decor__item-6:after {
    content: "51";
    position: absolute;
    width: 31px;
    height: 36px;
    top: 127px;
    right: 58.5%;
    .geometria-heavy;
    font-size: 28px;
    letter-spacing: 2px;
    transform: rotate(270deg);
    opacity: 0.5;
    z-index: 100;
  }

  .decor__item-7:before {
    content: "(1) (3)";
    position: absolute;
    width: 18px;
    height: 100px;
    top: 148px;
    left: 15.5%;
    .geometria-light;
    line-height: 80px;
    font-size: 14px;
    z-index: 100;
  }

  .decor__item-7:after {
    content: "URAL 03";
    position: absolute;
    width: 55px;
    height: 42px;
    top: 245px;
    left: 42.4%;
    .geometria-regular;
    line-height: 21px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #FFFFFF;
    z-index: 100;
  }

  .decor__item-8:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 215px;
    left: 40.6%;
    border: 1px solid #000000;
    border-radius: 50%;
    z-index: 100;
  }

  .decor__item-8:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 3px;
    top: 593px;
    left: 76.5%;
    background: #000000;
    z-index: 100;
  }

  .decor__item-9:before {
    content: "7";
    position: absolute;
    width: 10px;
    height: 21px;
    top: 598px;
    left: 76.4%;
    .geometria-heavy-italic;
    font-size: 17px;
    z-index: 100;
  }

  .decor__item-9:after {
    content: "";
    position: absolute;
    width: 213px;
    height: 10px;
    top: 706px;
    left: 50%;
    transform: translateX(-50%);
    background: @base-color;
    opacity: 0.75;
    z-index: 100;
  }

  .decor__item-10:before {
    content: "";
    position: absolute;
    width: 41.66%;
    height: 616px;
    top: 184px;
    right: 50%;
    background: linear-gradient(200deg, transparent, #FFFFFF);
    opacity: 0.65;
    z-index: 5;
  }

  .decor__item-10:after {
    content: "";
    position: absolute;
    width: 22.8px;
    height: 23.21px;
    bottom: auto;
    top: 693px;
    right: 85%;
    background: url(../img/triangle.svg) no-repeat;
    z-index: 100;
  }

  .decor__item-11:before {
    content: "";
    position: absolute;
    width: 22.8px;
    height: 18px;
    bottom: auto;
    top: 782px;
    right: 67%;
    background: url(../img/triangle-transparent.svg) no-repeat;
    z-index: 100;
  }

  .decor__item-11:after {
    content: "A";
    position: absolute;
    width: 17px;
    height: 28px;
    top: 745px;
    left: 18.5%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-12:before {
    content: "F";
    position: absolute;
    width: 13px;
    height: 28px;
    top: 710px;
    left: 23%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-12:after {
    content: "F";
    position: absolute;
    width: 13px;
    height: 28px;
    top: 755px;
    left: 27.5%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-13:before {
    content: "I";
    position: absolute;
    width: 8px;
    height: 28px;
    top: 727px;
    left: 31.6%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-13:after {
    content: "N";
    position: absolute;
    width: 17px;
    height: 28px;
    top: 766px;
    left: 36.2%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-14:before {
    content: "A";
    position: absolute;
    width: 17px;
    height: 28px;
    top: 725px;
    left: 64.6%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-14:after {
    content: "G";
    position: absolute;
    width: 18px;
    height: 28px;
    top: 731px;
    left: 71.6%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }

  .decor__item-15:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 20px;
    top: 733px;
    left: 71.4%;
    background: url("../img/G-background.svg") no-repeat;
    z-index: 90;
  }

  .decor__item-15:after {
    content: "E";
    position: absolute;
    width: 15px;
    height: 28px;
    top: 758px;
    left: 79.4%;
    .philosopher-bold;
    font-size: 25px;
    z-index: 100;
  }
}
