.slider {
  padding: 83px 0 0;
}

.slider img {
  display: block;
}

.slider__back {
  position: relative;
  width: 236px;
  height: 184.11px;
  overflow: hidden;
  z-index: 10;
}

.slider__back picture {
  right: 0;
}

.slider__back picture,
.slider__front picture {
  position: absolute;
  width: max-content;
  top: 0;
  background: @base-color;
}

.slider__back img {
  opacity: 0.2;
}

.slider__front {
  position: relative;
  width: 100%;
  height: 318px;
  margin-top: -17.11px;
  overflow: hidden;
  z-index: 20;
}

.slider__front:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 5%;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transform: rotate(45deg) translateY(-50%);
  opacity: 0.4;
  z-index: 100;
}

.slider__front:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  right: 8%;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  transform: rotate(45deg) translateY(-50%);
  opacity: 0.4;
  z-index: 100;
}

.slider__front picture {
  left: 50%;
  transform: translateX(-50%);
}

.slider__front img {
  opacity: 0.4;
}
